<h1>Listing braves</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @braves.each do |brafe| %>
  <tr>
    <td><%= brafe.question %></td>
    <td><%= brafe.answer %></td>
    <td><%= link_to 'Show', brafe %></td>
    <td><%= link_to 'Edit', edit_brafe_path(brafe) %></td>
    <td><%= link_to 'Destroy', brafe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brave', new_brafe_path %>
