<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @brafe.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @brafe.answer %>
</p>


<%= link_to 'Edit', edit_brafe_path(@brafe) %> |
<%= link_to 'Back', braves_path %>
