<p id="notice"><%= notice %></p>

<p>
  <b>Regexp:</b>
  <%= @hunter.regexp %>
</p>

<p>
  <b>User:</b>
  <%= @hunter.user_id %>
</p>

<p>
  <b>Result:</b>
  <%= @hunter.result %>
</p>


<%= link_to 'Edit', edit_hunter_path(@hunter) %> |
<%= link_to 'Back', hunters_path %>
