<p id="notice"><%= notice %></p>

<p>
  <b>Todo:</b>
  <%= @priority.todo %>
</p>

<p>
  <b>Target:</b>
  <%= @priority.target %>
</p>

<p>
  <b>Conclusion:</b>
  <%= @priority.conclusion %>
</p>


<%= link_to 'Edit', edit_priority_path(@priority) %> |
<%= link_to 'Back', priorities_path %>
