<% if signed_in? %>

  <h1>1. encouragments:</h1>

  <a>everything is a flow of a string..</a>
  
  </br>
  </br>
  </br>
  </br>
  
  <h1>2. looks good ? </h1>

  <a>motivating?</a>
  


  </br>
  </br>
  </br>
  </br>
  <h1> only 1 thing to change: </h1>
  </br>
  <%= link_to "compare", compares_path %>
  </br>
  <%= link_to "smart", smarts_path %>

  </br>
  <%= link_to "todo", todos_path %>

  </br>
  <%= link_to "idea", ideas_path
#  (:user_id => current_user.id)
%>

  </br>
  <%= link_to "lines", lines_path() %>
 


 <% else %>

<h1>Sample App</h1>
<p>
  This is the home page for the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

 
<% end %>
