

<p id="notice"><%= notice %></p>

<h2>
  <b>Title:</b>
  <%= @compare.title %>
</h2>

<p>
   <%= render :template => 'drafts/index' %>
   </p>
<p>
   <%= render :template => 'quizes/index' %>
</p>




<%= link_to 'Edit', edit_compare_path(@compare) %> |

<%= link_to 'Back', compares_path(:user_id => current_user.id) %> 
| 
<%= link_to 'BackUser', user_path(:id => current_user.id) %>
