
  <strong>Pages:</strong>
   <%= render :template => 'drafts/index' %>


<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @compare.title %>
</p>






<%= link_to 'Edit', edit_compare_path(@compare) %> |
<%= link_to 'Back', compares_path(:user_id => current_user.id) %>
