<%= form_for(@quize , :remote => true) do |f| %>
  <% if @quize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quize.errors.count, "error") %> prohibited this quize from being saved:</h2>

      <ul>
      <% @quize.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </div>
  <p>
    <%= f.label :compare_id %><br />
    <%= f.text_field :compare_id %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
