<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @quize.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @quize.answer %>
</p>


<%= link_to 'Edit', edit_quize_path(@quize) %> |

  <%= link_to 'Back', compare_path(:id => @quize.compare_id) %>
