<p id="notice"><%= notice %></p>
<p>
  <b>Description:</b>
  <%= @smart.description %>
</p>
<p>
  <b>Question:</b>
  <%= @smart.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @smart.answer %>
</p>
<p>
  <b>Grade:</b>
  <%= @smart.grade %>
</p>
<p>
  <b>Maybe:</b>
  <%= @smart.maybe %>
</p>


<%= link_to 'Edit', edit_smart_path(@smart) %> |

<%= link_to 'Back', smarts_path(:user_id => current_user.id) %>
| 
<%= link_to 'BackUser', user_path(:id => current_user.id) %>
