
<table> 
<tr>
<% @drafts.each do |draft| %>
  <td >
    <% @draft = draft %>
    <%= render :template => 'drafts/show' %> 
 </td>
<% end %>
</tr>
</table>
<h1>Listing drafts</h1>

<table>
  <tr>

    <th>Content</th>
    <th>id</th>
    <th>Title</th>
    <th></th>
    <th></th>
    
    <th></th>
    <th></th>
  </tr>

<% @drafts.each do |draft| %>
  <tr>

    <td><%= draft.content.length %></td>
    <td><%= draft.id %></td>
    <td><%= draft.title %></td>
    <td><%= link_to 'Show', draft_path(:id => draft.id , :compare_id => @compare.id) %></td>
    
    <td><%= link_to 'Edit', edit_draft_path(draft) %></td>
    <td><%= link_to 'Destroy', draft, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>




<br />

<%= link_to 'New Draft', new_draft_path( :compare_id => @compare.id) %>


