
<h1>regexp:

  <%= show_regexp_result @draft %>
  </h1>
  
<div data-id='<%= @draft.id %>' class='me'>



  <div class='me1'>
  <a><%= @draft.title %></a>

  <%= form_tag push_draft_path(@draft), :method => 'post', :action => "push" , :remote => true  do %>
    <input class="input_story"  name="item2" width="10" type="text">
    <%= submit_tag value="save"  %>
  <% end %>
  </div>









  <%= render :partial => @draft %>






  <%= link_to 'Edit', edit_draft_path(@draft) %> |
  <%= link_to 'Back', compare_path(:id => @draft.compare_id) %>


  <%= rich_text @draft %> 

</div>


</div>

