$(function() {
    //initiate buttons
    //$("input:submit, a.button").button();
    console.log("selectors show.js");

    var plot_line<%= @ts.id %> = <%= raw @lines[@ts.id] %>;

    var plot_<%= @ts.id %> = $.jqplot('plot-<%= @ts.id %>', [plot_line<%= @ts.id %>], {
        title:'<%= @tracker.name + " - " + @selector.name %>',
        gridPadding:{right:35},
        grid: {background:'#f3f3f3', gridLineColor:'#accf9b'},
        axesDefaults: {
            autoscale: true,
            tickOptions: {
                formatter: $.jqplot.tickNumberFormatter
            }
        },
        series: [
            {
                label: '<%= @selector.name %>',
                neighborThreshold: -1

            },
        ],
        axes:{
            xaxis:{
                autoscale: true,
                renderer:$.jqplot.DateAxisRenderer,
                rendererOptions:{
                    tickRenderer:$.jqplot.CanvasAxisTickRenderer
                },

                tickOptions:{
                    formatString:'%b %#d, %Y',
                    fontSize:'10pt',
                    //fontFamily:'Tahoma', 
                    angle:45
                },
                //min:'May 30, 2008',
                tickInterval:'1 month'
            },
            yaxis:{
                autoscale: true,
                tickRenderer:$.jqplot.CanvasAxisTickRenderer,
                tickOptions:{
                    enableFontSupport: true,
                    formatString:'%.0f',
                    fontSize: '10pt',
                    fontFamily: '"Trebuchet MS", Arial, Helvetica, sans-serif'
                },
                label: ' ',
                labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                labelOptions:{
                    //fontFamily:'Helvetica',
                    fontFamily: '"Trebuchet MS", Arial, Helvetica, sans-serif',
                    fontSize: '12pt',
                    //fontWeight: 'bold',
                    //fontStretch: 2.0,
                    //textColor: 'red',
                    enableFontSupport:true
                    //angle: 0,
                    //show:false,
                    //showLabel: false
                }
            }
        },
        highlighter: {
            sizeAdjust: 10,
            tooltipLocation: 'n',
            tooltipAxes: 'xy',
            //tooltipFormatString: '<b><i><span style="color:red;">%.0f</span></i></b>',
            //useAxesFormatters: false
            formatString: '<div class="jqplot-highlighter"><b><i><span style="color:red;">%s - %s</span></i></b><br/></div>'

        },
        cursor:{zoom:true, showTooltip:false, clickReset: true}
    });

    var plot_line<%= @ts.id %>_change_per_day = <%= raw @lines[@ts.id.to_s + "_change_per_day"] %>;
    var plot_<%= @ts.id %>_change_per_day = $.jqplot('plot-<%= @ts.id %>_change_per_day', [plot_line<%= @ts.id %>_change_per_day], {
        title:'Change per Day',
        gridPadding:{right:35},
        grid: {background:'#f3f3f3', gridLineColor:'#accf9b'},
        axesDefaults: {
            autoscale: true,
            tickOptions: {
                formatter: $.jqplot.tickNumberFormatter
            }
        },
        series: [
            {
                label: '<%= @selector.name %> Change per Day',
                neighborThreshold: -1

            },
        ],
        axes:{
            xaxis:{
                autoscale: true,
                renderer:$.jqplot.DateAxisRenderer,
                rendererOptions:{
                    tickRenderer:$.jqplot.CanvasAxisTickRenderer
                },

                tickOptions:{
                    formatString:'%b %#d, %Y',
                    fontSize:'10pt',
                    //fontFamily:'Tahoma', 
                    angle:45
                },
                //min:'May 30, 2008',
                tickInterval:'1 month'
            },
            yaxis:{
                autoscale: true,
                tickRenderer:$.jqplot.CanvasAxisTickRenderer,
                tickOptions:{
                    enableFontSupport: true,
                    formatString:'%.0f',
                    fontSize: '10pt',
                    fontFamily: '"Trebuchet MS", Arial, Helvetica, sans-serif'
                },
                label: ' ',
                labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                labelOptions:{
                    //fontFamily:'Helvetica',
                    fontFamily: '"Trebuchet MS", Arial, Helvetica, sans-serif',
                    fontSize: '12pt',
                    //fontWeight: 'bold',
                    //fontStretch: 2.0,
                    //textColor: 'red',
                    enableFontSupport:true,
                    //angle: 0,
                    //show:false,
                    //showLabel: false
                }
            }
        },
        highlighter: {
            sizeAdjust: 10,
            tooltipLocation: 'n',
            tooltipAxes: 'xy',
            //tooltipFormatString: '<b><i><span style="color:red;">%.0f</span></i></b>',
            //useAxesFormatters: false
            formatString: '<div class="jqplot-highlighter"><b><i><span style="color:red;">%s - %s</span></i></b><br/></div>'

        },
        cursor:{zoom:true, showTooltip:false, clickReset: true}
    });

    var plot_line<%= @ts.id %>_change_per_week = <%= raw @lines[@ts.id.to_s + "_change_per_week"] %>;
    var plot_<%= @ts.id %>_change_per_week = $.jqplot('plot-<%= @ts.id %>_change_per_week', [plot_line<%= @ts.id %>_change_per_week], {
        title:'Change per Week',
        gridPadding:{right:35},
        grid: {background:'#f3f3f3', gridLineColor:'#accf9b'},
        axesDefaults: {
            autoscale: true,
            tickOptions: {
                formatter: $.jqplot.tickNumberFormatter
            }
        },
        series: [
            {
                label: '<%= @selector.name %> Change per Week',
                neighborThreshold: -1

            },
        ],
        axes:{
            xaxis:{
                autoscale: true,
                renderer:$.jqplot.DateAxisRenderer,
                rendererOptions:{
                    tickRenderer:$.jqplot.CanvasAxisTickRenderer
                },

                tickOptions:{
                    formatString:'%b %#d, %Y',
                    fontSize:'10pt',
                    //fontFamily:'Tahoma', 
                    angle:45
                },
                //min:'May 30, 2008',
                tickInterval:'1 month'
            },
            yaxis:{
                autoscale: true,
                tickRenderer:$.jqplot.CanvasAxisTickRenderer,
                tickOptions:{
                    enableFontSupport: true,
                    formatString:'%.0f',
                    fontSize: '10pt',
                    fontFamily: '"Trebuchet MS", Arial, Helvetica, sans-serif'
                },
                label: ' ',
                labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                labelOptions:{
                    //fontFamily:'Helvetica',
                    fontFamily: '"Trebuchet MS", Arial, Helvetica, sans-serif',
                    fontSize: '12pt',
                    //fontWeight: 'bold',
                    //fontStretch: 2.0,
                    //textColor: 'red',
                    enableFontSupport:true,
                    //angle: 0,
                    //show:false,
                    //showLabel: false
                }
            }
        },
        highlighter: {
            sizeAdjust: 10,
            tooltipLocation: 'n',
            tooltipAxes: 'xy',
            //tooltipFormatString: '<b><i><span style="color:red;">%.0f</span></i></b>',
            //useAxesFormatters: false
            formatString: '<div class="jqplot-highlighter"><b><i><span style="color:red;">%s - %s</span></i></b><br/></div>'

        },
        cursor:{zoom:true, showTooltip:false, clickReset: true}
    });

});  
